.AboutContainer {
  padding: 3rem 5rem;

  h1 {
    margin: 2rem 0;
  }

  .AboutWrapper {
    display: flex;
    justify-content: center;

    p {
      width: 70%;
      margin-right: 4rem;
      line-height: 30px;
      color: rgb(76, 76, 76);
      font-size: 18px;
    }
  }
}

@media (max-width: 1000px) {
  .AboutContainer {
    padding: 0;

    h1 {
      text-align: center;
    }
  }

  .AboutWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 2rem 3rem;
      border: 1px solid black;
      padding: 1rem;
      border-radius: 10px;
    }
  }
}
