.HeaderContainer {
  padding: 5rem 4rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: 10% 80%;
  background-attachment: fixed;

  .HeaderContent {
    max-width: 700px;

    .Color1 {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #f2795a;
    }

    h1 {
      font-size: 5rem;
      line-height: 90px;
      font-weight: 500;
    }

    p {
      font-weight: 500;
      font-size: 19px;
      margin: 1rem 0;
    }

    button {
      color: white;
      background-color: black;
      width: 200px;
      border: none;
      padding: 1rem;
      border-radius: 30px;
      font-size: 18px;
      margin-top: 10px;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: black;
        transition: 0.5s all;
      }
    }

    @media (max-width: 800px) {
      h1 {
        font-size: 3rem;
        line-height: 55px;
      }

      p {
        font-size: 16px;
      }

      button {
        padding: 10px;
        width: 160px;
      }
    }
  }

  @media (max-width: 800px) {
    padding: 1rem;
  }
}
